# Server Configuration
PORT=5000
NODE_ENV=development # Change to 'production' for production environment

# MongoDB Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/synapshare

# Firebase Configuration
# This should be a JSON string of your Firebase service account key
FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"your-project-id","private_key_id":"your-key-id","private_key":"your-private-key","client_email":"your-email@your-project-id.iam.gserviceaccount.com","client_id":"your-client-id","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/your-email%40your-project-id.iam.gserviceaccount.com"}

# API Configuration
API_URL=https://api.synapshare.com # For production
# API_URL=http://localhost:5000 # For development

# News API Key
NEWS_API_KEY=your_news_api_key

# CORS Configuration
FRONTEND_URL=https://synapshare.com # For production
# FRONTEND_URL=http://localhost:3000 # For development
